<div class="text-center">
    <div class="jumbotron">
    <br>
    <h1 class="display-4">Welcome to Blogify</h1>
    <br>
    <p class="lead">Dive into a world of thought-provoking insights and creative musings.</p>
    <hr class="my-4">
    <p>Join us as we embark on a journey of sharing thoughts, sparking conversations, and igniting inspiration. Every post is a new adventure, every idea a stepping stone to discovery. Let's shape the future of ideas, together.</p>
    <br>

    <p class="lead">
        
        <%= link_to "Start Writing" ,new_article_path, class:"btn btn-dark btn-lg" %>
    </p>
    </div>
    <div id="page-content">

    
    </div>

    <footer id="sticky-footer" class="flex-shrink-0 py-4 bg-dark text-white-50">
    <div class="container text-center">
      <small>Copyright &copy; Your Website</small>
    </div>
  </footer>
</div>





