<h1 class ="text-center mt-4">Read Articles</h1>

<div class="text-center m-4">
<%= link_to "Create New Article" ,new_article_path, class:"btn btn-dark btn-lg"%>
</div>
 

<%= render 'article' %>
<div class="flickr_pagination">
    <%= will_paginate @articles, :previous_label => 'Previous', :next_label => 'Next', :container => false%>
  </div> 
<%= render 'layouts/footer'%>