<!DOCTYPE html>
<html>
<head>
  <title>Friend Request Reminder</title>
</head>
<body>
  <p>Hello <%= @user.username %>,</p>

  <p>This is a reminder that you have a pending friend request.</p>

  <p>Thank you!</p>
</body>
</html>
