@import 'bootstrap/dist/css/bootstrap';


.navbar {

    background-color: rgb(0, 0, 0) !important;
    color: white !important;
}
.nav-link{
  color: white;
}

#logo{
    font-size: 1.3cm;
    color: white;
}
#home{
  color: white;
}
h1{
    font-size: 1.7cm;
}
html,
body {
  height: 100%;
  
}

#page-content {
  flex: 1 0 auto;
}
#sticky-footer {
    flex-shrink: none;
}

#form{
  margin-left: 1in;
  margin-right: 1in;;
}
.flickr_pagination {
  text-align: center;
  padding: 0.3em;
  cursor: default; }
  .flickr_pagination a, .flickr_pagination span, .flickr_pagination em {
    padding: 0.2em 0.5em; }
  .flickr_pagination .disabled {
    color: #aaaaaa; }
  .flickr_pagination .current {
    font-style: normal;
    font-weight: bold;
    color: #ff0084; }
  .flickr_pagination a {
    border: 1px solid #dddddd;
    color: #0063dc;
    text-decoration: none; }
    .flickr_pagination a:hover, .flickr_pagination a:focus {
      border-color: #003366;
      background: #0063dc;
      color: white; }
  .flickr_pagination .page_info {
    color: #aaaaaa;
    padding-top: 0.8em; }
  .flickr_pagination .previous_page, .flickr_pagination .next_page {
    border-width: 2px; }
  .flickr_pagination .previous_page {
    margin-right: 1em; }
  .flickr_pagination .next_page {
    margin-left: 1em; }
