<h1 class ="text-center mt-4" >Category: <%= @category.name%></h1>
<div class="text-center m-4">
<% if current_user.admin? %>
    <%= link_to "Edit Category Name", edit_category_path(@category), class: "btn btn-info" %>
<% end %>
</div>

<% if @category.articles.any? %>
<%= render 'articles/article' %>
<% end %>
<%= render 'layouts/footer'%>
